Source: gz-cmake
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 13)
Vcs-Browser: https://github.com/gazebosim/gz-cmake
Vcs-Git: https://github.com/gazebosim/gz-cmake.git
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: libgz-cmake-dev
Architecture: any
Section: libdevel
Depends: cmake, ${misc:Depends}
# The generic identity for Jetty and beyond
Provides: libgz-cmake-dev-generic
# Conflicts with the future (generic)
Conflicts: libgz-cmake-dev-generic
Multi-Arch: same
Description: Gazebo CMake Library - Development files
 CMake modules to be used by the Gazebo projects.
 .
 This package is required to build Gazebo projects, as well as to link your
 third party projects against them. It provides modules that are used to find
 dependencies of Gazebo projects and generate cmake targets for consumers of
 Gazebo projects to link against.

Package: libgz-rotary-cmake-dev
Depends: libgz-cmake-dev (= ${binary:Version}), ${misc:Depends}
Architecture: all
Priority: optional
Section: metapackages
Description: alias package
 Provides a package for Rotary without exposing the version number.
